.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #114b5f;
    color: white;
    height: 1cm;
    padding: 10px;
}

.lblogo {
    color: rgb(188, 223, 214);
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

a{
    text-decoration: none;
    color: rgb(188, 223, 214);
}

.rightstuffs {
    display: flex;
    gap: 30px;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #114b5f;
    color: white;
    gap: 100px;
    padding: 30px;
}

.webintro {
    font-weight: 700;
    font-style: italic;
    font-size: large;
}

.introleft, .introright {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;
    height: 200px;
}

.introimg {
    width: 300px;
    height: 150px;
}

.mid {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
  }

.imginfo {
    width: 100px;
    height: 100px;
  }
  
.title {
    font-size: 36px;
    margin-bottom: 32px;
  }

.midcon {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  
.infoimg {
    max-width: 200px;
  }

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b7d6e1;
    height: 200px;
    gap: 20px;
}

.realquote {
    display: flex;
    width: 400px;
}

.writer {
    font-style: italic;
    justify-self: flex-end;
}

.signupmain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    background: #0095cc;
    gap: 30px;
}

.rightsign {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightmain {
    font-style: italic;
    font-size: large;
}

.buttonsign {
    background-color: #0095cc;
    border-color: white;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #114b5f;
    padding: 30px;
}
